.bg-animation {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #23a30d, #5c3778, #23a6d5, #d5236d);    
    background-size: 300% 300%;
	animation: gradient 15s ease infinite;	
    z-index: -1;
}

@keyframes gradient {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}

.terminal-cursor {
    width: .4rem;
    height: 1.1rem;    
    justify-self: start;
    background: #4AF626;    
    box-shadow: 0px 0px 15px 2px rgb(0 0 0 / 5%);
    animation: blink 1s step-end infinite;    
}

@keyframes blink {
    from, to {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.nav {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    }

    .highlight-container, .highlight {
        position: relative;
      }
      
      .highlight-container {
        display: inline-block;
      }
      .highlight-container:before {
        content: " ";
        display: block;
        height: 90%;
        width: 100%;
        margin-left: -3px;
        margin-right: -3px;
        position: absolute;
        /* background: #ffd500; */
        background: #46b96c;
        transform: rotate(2deg);
        top: -1px;
        left: -1px;
        border-radius: 20% 25% 20% 24%;
        padding: 10px 3px 3px 10px;
      }

    .comingsoon-text {
  background-color: black;
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.visit-blog-text
{
    background: rgb(0,118,221);
    background: linear-gradient(113deg, rgb(196, 211, 30) 0%, rgb(228, 113, 136) 59%, rgb(255, 255, 255) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.terminal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.titlebar
{
    width:100%;
    padding: .2rem .1rem .1rem;
    box-sizing: border-box;
    height: 2rem;
    background-color: hsla(0, 0%, 95.3%, 0.5);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    margin: 0 auto;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.terminal-area
{
    width:100%;
    padding: .2rem .1rem .1rem;
    /* height: 100vh; */
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(8px);
}

.terminal-area p
{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    
}

.ui-btn {
	margin: 0;
	width: 3rem;
	/* height:2rem; */
	border: 0;
	outline: 0;
	background: transparent;
    border-top-right-radius: 5px;
}
.ui-btn:hover {
	background: rgba(255,255,255,.1);
}
.ui-btn.close:hover {
	background: #e81123;
}
.ui-btn svg path, 
.ui-btn svg rect, 
.ui-btn svg polygon {
	fill: rgb(0, 0, 0);
}
.ui-btn svg {
  width: 10px;
  height: 10px;
}

.button-group
{
    float:right;
}

.titlebar-brandname
{
    display: inline-block;
}

.titlebar-pagename
{
    display: inline-block;
}

@media (max-width: 390px) {
    .titlebar-pagename{
      display: none;
    }
    /* .titlebar-brandname {
        display: none;
    } */
  }